{% extends 'base.html.twig' %}

{% block body %}
    {% include'components/nav.html.twig' with {'title' : title} %}

    <div class="container">
        <div class="row justify-content-center">

            <div class="col-12">
                <div class="text-center">
                    <img src="{{ asset('images/home_banner.jpg') }}" alt="" class="img-fluid">
                </div>
            </div>
        </div>

        <br>
        <br>
        <h2>yonex Badmintonrackets</h2>
        <span>4 resultaten</span>
        <select name="" id="">
            <option value="volvo">bestverkocht</option>
            <option value="saab">prijs: laag -> hoog</option>
            <option value="mercedes">prijs: hoog - laag</option>
            <option value="audi">verschijningdatum</option>
        </select>
        <div class="row">
            <div class="item-block col-6 col-md-4">
                <div class="item-img col-12">
                    <img src="{{ asset('images/photo01.jpg') }}" alt="" class="img-fluid">
                </div>
                <div class="item-detail col-12">
                    <small>yonex</small>
                    <span>Yonex Voltric Z Force</span>
                    <span>€170,00</span><br>
                    <small>andviesprijs €219,99</small>
                </div>
            </div>

            <div class="item-block col-6 col-md-4">
                <div class="item-img col-12">
                    <img src="{{ asset('images/photo01.jpg') }}" alt="" class="img-fluid">
                </div>
                <div class="item-detail col-12">
                    <small>yonex</small>
                    <span>Yonex Voltric Z Force</span>
                    <span>€170,00</span><br>
                    <small>andviesprijs €219,99</small>
                </div>
            </div>
            <div class="item-block col-6 col-md-4">
                <div class="item-img col-12">
                    <img src="{{ asset('images/photo01.jpg') }}" alt="" class="img-fluid">
                </div>
                <div class="item-detail col-12">
                    <small>yonex</small>
                    <span>Yonex Voltric Z Force</>
                    <span>€170,00</span><br>
                    <small>andviesprijs €219,99</small>
                </div>
            </div>
            <div class="item-block col-6 col-md-4">
                <div class="item-img col-12">
                    <img src="{{ asset('images/photo01.jpg') }}" alt="" class="img-fluid">
                </div>
                <div class="item-detail col-12">
                    <small>yonex</small>
                    <span>Yonex Voltric Z Force</span>
                    <span>€170,00</span><br>
                    <small>andviesprijs €219,99</small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

